
aclocal.m4

.caca.txt.swp
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/libtool
/Makefile
/Makefile.in
/stamp-h1

caca.txt

src/.deps/main.Po

src/.deps/unos_locos.Po

src/.deps/unoslocos.Plo

src/.libs/libunoslocos.0.dylib

src/.libs/libunoslocos.a

src/.libs/libunoslocos.dylib

src/.libs/libunoslocos.la

src/.libs/libunoslocos.lai

src/.libs/unoslocos.o

src/.libs/main

src/unoslocos.o

tests/.deps/check_unos_locos-check_unos_locos.Po

tests/.deps/check_unoslocos-check_unoslocos.Po

tests/.libs/check_unoslocos

tests/check_unoslocos-check_unoslocos.o

tests/check_unoslocos.log

tests/test-suite.log

tests/.test-suite.log.swp

*.swp
